body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-color: black;
}

.cover-container {
  position: relative;
  max-width: 100%;
  background-image: url('../img/big_galaxy_small_dark.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* opacity: 0.75; */
}

.main-content {
  position: relative;
  padding-top: 10vh;
  padding-bottom: 2rem;
}

.container-fluid {
  padding: 0;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(216, 216, 216, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(216, 216, 216, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

footer {
  display: none;
}

.logo {
  width: 20rem;
}

.logo-container {
  margin-bottom: 2rem;
}

a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: white;
  font-weight: 700;
  text-decoration: dashed underline;
}

.feature-grid {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.feature-grid div {
  margin-top: 1rem;
}
img.img-feature {
  width: 80%;
  height: auto;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(180, 180, 180, 0.91);
  -moz-box-shadow: 0px 0px 20px 3px rgba(180, 180, 180, 0.91);
  box-shadow: 0px 0px 20px 3px rgba(180, 180, 180, 0.91);
}
.feature-grid h1 {
  font-size: 1.6rem;
  font-weight: 400;
}
img.team-member-img {
    max-width: 200px;
    max-height: 200px;
    width:  30vw;
    height: 30vw;
    object-fit: cover;
}
img.img-logo-overlay {
  float: left;
  width: 3rem;
  margin-right: 1rem;
}

.team-members p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.team-members h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.contact {
    margin-top: 3rem;
}
.contact img {
    width: 50vw;
    max-width: 200px;
}

p.text-responsive {
  font-size: 1rem;
  text-align: justify;
}
@media (min-width: 1600px) {  
  .col-xl-10 {
    width: 1200px;
  }
}
@media (max-width: 1199px) {  
  p.text-responsive {
    font-size: 0.8rem;
  }
}
@media (max-width: 991px) {  
  p.text-responsive {
    font-size: 1.0rem;
  }
  img.img-feature {
    width: 50%;
  }
  img.img-logo-overlay {
    /* position: relative; */
    float: left;
    /* right: -30%;
    bottom: 20%; */
    width: 3rem;
    margin-right: 1rem;
  }
  .feature-grid h1 {
    margin-top: 2rem;
    /* margin-bottom: 2rem; */
  }
  img.team-member-img {
      width:  30vw;
      height: 30vw;
  }
  @media (min-width: 768px) {  
    img.team-member-img {
        width:  18vw;
        height: 30vw;
    }
  }
}
